<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pizza Hott</title>
    <link type="image/x-icon" rel="icon" href="public/pizza.ico">
    <link rel="stylesheet" href="public/app.css">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
      </head>
  <body>
    <!-- Menu and title -->
    <div id="navigation">
      <img src="public/pizza.png" alt="pizzaShopp">
      <ul>
        <li><a href="menuItems">Menu</a></li>
        <li><a id="loggedInState" href="login_signup">Login/Sign Up</a></li>
        <li><a href="basket">Basket</a><p id="itemsInBasket"></p></li>
      </ul>
    </div>
