<div id="menu">
  <h2>MENU</h2>
  <h3>Pizzas</h3>
  <div id="pizzas" class="items">
    <div class="card"><img src="public/menuItems/pizza_plain.png" alt="pizza_plain">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="mask"><button type="button">Add to basket for $1.99?</button> </div>
    </div>
    <div class="card"><img src="public/menuItems/pizza_hawaii.png" alt="pizza_hawaii">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="mask"><button type="button">Add to basket for $2.99?</button> </div>
    </div>
    <div class="card"><img src="public/menuItems/pizza_mexican.png" alt="pizza_mexican">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="mask"><button type="button">Add to basket for $2.99?</button> </div>
    </div>
    <div class="card"><img src="public/menuItems/pizza_seafood.png" alt="pizza_seafood">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="mask"><button type="button">Add to basket for $2.99?</button> </div>
    </div>
    <div class="card"><img src="public/menuItems/pizza_three_cheese.png" alt="pizza_three_cheese">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="mask"><button type="button">Add to basket for $2.99?</button> </div>
    </div>
  </div>
  <h3>Drinks</h3>
  <div id="drinks" class="items">
    <div class="card"><img src="public/menuItems/drinks_coke.png" alt="coke">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="mask"><button type="button">Add to basket for $1.50?</button> </div>
    </div>
    <div class="card"><img src="public/menuItems/drinks_orange.png" alt="orange">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="mask"><button type="button">Add to basket for $1.20?</button> </div>
    </div>
    <div class="card"><img src="public/menuItems/drinks_lemonade.png" alt="lemonade">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="mask"><button type="button">Add to basket for $1.00?</button></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="public/menu.js"></script>
